/*---------------------searchbar------------------------*/
.search-bar-container{
  position:fixed;
  padding:2rem;
  bottom:0;
  width: 100vw;
  background-color:rgba(36, 35, 35, 0.8);
}

.search-bar{
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.search-bar > *+* {
  margin-left: 1rem;
}

/*------------------------Posts------------------------------*/

.post-items-container{
  display:flex;
  flex-direction: column;
}

.post-items-container > * + * {
  margin-top: 1rem;
}

.post-items{
  padding: 1rem;
  height: 5rem;
  overflow: hidden;
  /* animation: slideUp 0.1s both ease-in-out; */
}

.post-items:before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 4rem, rgb(255, 255, 255));
}

.posts-container{
  padding:2rem; 
  min-height:100vh; 
  background-color:rgb(121, 191, 248);
}

/*--------------------------scroll button-----------------------*/
.fa.fa-arrow-circle-up{
  display: none;
  font-size: 5rem;
  position:fixed;
  bottom: 0;
  width: 5rem;
  height: 5rem;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  border-radius:50%;
  transform: scale(1);
	animation: pulse 2s infinite;
  text-align: center;
}

.fa.fa-arrow-circle-up.active{
  display: block;
}


/*------------------------Post---------------------------------*/

input[type="text"]
{
    background: transparent;
    border: 2px solid crimson;
    border-radius: 1rem;
    color: rgb(255, 230, 2);
    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}


.post-container{
  padding:2rem;
}

.post-comment{
  animation: slideUp 0.5s both ease-in-out;
  margin:1rem;
}

.comment-name-shadow{
  background-color:grey;
  padding:0.2rem 0.5rem;
  border-radius:0.5rem;
}

/*-------------------------Slider-----------------------------*/

.dot {
  border-radius: 50%;
  background-color: red;
  width: 3rem;
  height: 3rem;
  margin: 1rem;
  opacity: 1;
  z-index: 1;
  animation: bounce 1s infinite ease-in-out;
  display:block;
}

.dot-container {
  display:none;
  justify-content: center;
  align-content: center;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  width: 25rem;
  height: 10rem;
  z-index: 2;

}

.dot-container.active {
  display: flex;

}

/*----------------------Keyframes----------------------*/

@keyframes bounce {
  0% {
    transform: translateY(0px);opacity: 0.5;
  }


  80% {
    transform: translateY(5rem);opacity:1;
  }

  100% {
    transform: translateY(0px);opacity:0.5;
  }
}


@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes slideUp {
  0%{
    opacity: 0;
    transform: translateY(50px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}